body {
    /* Background pattern from Toptal Subtle Patterns */
    background-image: url(../images/connectwork/connectwork.png);
}

.jumbotron {
    background-color: black;
    color: greenyellow;
}

.card {
    background-color: silver;
}

.card-header {
    background-color: gray;
    color: white;
    font-weight: bold;
}



th, td {
    text-align: center;
}
.leftText {
    text-align: left;
}

/* color text to indicate whether train is currently running */
.inService {
    color: greenyellow;
}
.outService {
    color: gold;
}


th {
    background-color: gray;
}
.oddRow {
    background-color: black;
}
.evenRow {
    background-color: darkblue;
}

tr:hover {
    /* I couldn't figure out how to override Bootstrap styling for this property by increasing specificity, so I used !important */
    background-color: gray !important;
}
